$background-color: #f6f5f2;
$separator: #e6e6e6;
$primary: #cccccc;
$secondary: #dddddd;

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  box-shadow: none;
}

::-webkit-scrollbar-thumb {
  background: $primary;
  transition: 150ms;

  &:hover {
    background: darken($color: $primary, $amount: 20);
  }
}

body {
  background-color: $background-color;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;

  header {
    background-color: $background-color;
    width: 100%;
    padding: 0.5rem 0;
    border-bottom: 2px solid $separator;
    display: grid;
    place-items: center;

    nav > button {
      border: none;
      background-color: $primary;
      cursor: pointer;
      font-size: 1rem;
      padding: 0.5rem 2rem;
      margin: auto 1rem;
      width: 10rem;
      transition: 100ms;

      &:hover {
        background-color: lighten($color: $primary, $amount: 10);
      }
    }
  }

  main {
    aside {
      text-align: center;
      overflow-y: scroll;
      width: 50%;
      height: 87vh;
      float: left;
      border-top: 0;
      border-right: 2px solid $separator;
      padding-bottom: 2rem;
      margin-right: 1rem;
      background-color: $background-color;

      form {
        display: inline-grid;

        label {
          font-size: 1rem;
          width: 10rem;
          height: 10rem;
        }

        input {
          font-size: 0.9rem;
          height: 2rem;
          width: 10rem;
          margin-bottom: 1rem;

          &[type='text'] {
            padding: auto 1rem;
            margin-bottom: 1rem;
            text-align: center;
          }

          &[type='month'] {
            width: 5.7rem;
            padding: 0 2rem;
          }

          &[type='button'] {
            background-color: $secondary;
            border: 2px solid $primary;
            font-size: 1rem;
            margin: 0.5rem auto 0;
            cursor: pointer;
            border: none;
            padding: 0.5rem 2rem;
            width: 10rem;
            transition: 100ms;

            &:hover {
              background-color: lighten($color: $primary, $amount: 10);
            }
          }
        }

        section {
          display: grid;
          place-items: center;
          grid-template-columns: auto auto;
          gap: 1rem;
        }
      }

      table {
        font-family: arial, sans-serif;
        margin: 3rem auto 0;
        border-collapse: collapse;

        td,
        th {
          border: 1px solid darken($color: $background-color, $amount: 5);
          text-align: left;
          padding: 8px;
          min-width: 7rem;
        }

        thead,
        tbody tr:nth-child(even) {
          background-color: darken($color: $background-color, $amount: 3);

          &:hover {
            background-color: darken($color: $background-color, $amount: 8);
          }
        }

        tr:hover {
          background-color: darken($color: $background-color, $amount: 8);
        }
      }
    }
  }

  #ops {
    height: 87vh;

    h1 {
      margin: 0;
      padding: 1.25rem;
      text-align: center;
    }
  }

  footer {
    padding: 0.5rem 0;
    border-top: 2px solid $separator;
    width: 100%;
    height: 2rem;
    display: grid;
    place-items: center;
  }
}
